torch
torchvision
numpy
tqdm
tensorboard
matplotlib
pandas
unidecode
inflect
gdown

speechbrain
datasets
torch_audiomentations
editdistance
wandb
pyctcdecode
torchaudio
pillow
tacotron2-model
tensorflow
librosa
scipy
Unidecode
pyworld